<!-- SECCION IMAGEN PRINCIPAL  -->
<section ng-parallax pattern="'./assets/images/home-background.jpg'" class="relative hidden-xs seccion-parallax" id="inicio">
    <div class="overlap-home">
        <div class="container-fluid relative">
            <div class="linkedin">
                <a href="#" title="Encuéntranos en Linkedin">
                    <i class="fa fa-2x fa-linkedin text-white"></i>
                    <fa name="cog" animation="spin"></fa>
                </a>
            </div>
            <div class="col-sm-offset-8 col-sm-4 col-xs-12 v-100">
                <img src="./assets/images/3it-logo.svg" alt="3IT Quality of Service" class="brand-image vertical-center animated fadeIn">
            </div>
        </div>
    </div>
</section> <!-- END SECCION IMAGEN PRINCIPAL --> 

<!-- SECCION IMAGEN PRINCIPAL  -->
<section ng-parallax pattern="'./assets/images/m-home-background.jpg'" class="relative visible-xs seccion-parallax" id="inicio">
    <div class="overlap-home">
        <div class="container-fluid relative">
            <div class="linkedin">
                <a href="#" title="Encuéntranos en Linkedin">
                    <i class="fa fa-2x fa-linkedin text-white"></i>
                    <fa name="cog" animation="spin"></fa>
                </a>
            </div>
            <div class="col-sm-offset-8 col-sm-4 col-xs-12 v-100">
                <img src="./assets/images/3it-logo.svg" alt="3IT Quality of Service" class="brand-image vertical-center animated fadeIn">
            </div>
        </div>
    </div>
</section> <!-- END SECCION IMAGEN PRINCIPAL --> 


<!-- SECCION MISION - VISION - VALORES -->
<div class="container-fluid mvv"  id="quienes">
    <div class="row">
         <span class="btn-volver-detalle">
                        <svg version="1.1" id="svg-volver" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 93.8 91.4" style="enable-background:new 0 0 93.8 91.4;" xml:space="preserve">
                        <g id="circulos-izquierda">
                            <circle class="st0" cx="45.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="35.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="25.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="15.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="5.8" cy="20.8" r="3.1"/>
                        </g>
                        <g id="circulos-abajo">
                            <circle class="st0" cx="72.1" cy="47.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="57.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="67.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="77.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="87.1" r="3.1"/>
                        </g>
                        <path id="icono-grande" class="st1" d="M72,2.3c-10.4,0-18.7,8.3-18.7,18.6S61.6,39.5,72,39.5s18.7-8.3,18.7-18.6S82.3,2.3,72,2.3z
                             M78,21.1l-11.7,7.2c-0.2,0.1-0.4-0.1-0.3-0.3l4.5-7c0-0.1,0-0.1,0-0.2l-4.5-7c-0.1-0.2,0.1-0.4,0.3-0.3L78,20.7
                            C78.1,20.8,78.1,21,78,21.1z"/>
                        </svg>
                    </span>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padd-none">
            <slick dots="true"
                       infinite="false"
                       speed="300"
                       slides-to-show="1"
                       touch-move="false"
                       slides-to-scroll="1">

        <div ng-repeat="r in tres.slides">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                 <img src="{{r.image}}" alt="Image" class="img-mvv">

                  <div class="description-container col-sm-12 col-sm-offset-6">
                      <h4 class="uni-regular-italic animated delay {{r.textoCabeceraAnimacion}}">{{r.textoCabecera}}</h4>
                      <h2 class="uni-heavy animated delaytwo {{r.tituloAnimacion}}">{{r.titulo}}</h2>
                      <h4 class="uni-bold animated {{r.bajadaAnimacion}} delayTres">{{r.textoBajada}}</h4>
                      <img src="{{r.listado}}" class="animated {{r.bajadaAnimacion}} delayTres">
                  </div>
            </div>
            
        </div>

    
    </slick>

        </div>
    </div>
</div> <!-- END SECCION MISION - VISION - VALORES  -->


<!-- SECCION SERVICIOS-->
<div class="container-fluid servicios" id="goservicios">
    <div class="row">
         <img src="./assets/images/3it-servicios.svg" width="215" height="34" class="logo-3it-servicios">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padd-none">
            <slick dots="true"
                       infinite="false"
                       speed="300"
                       slides-to-show="1"
                       touch-move="true"
                       slides-to-scroll="1"
                       mobileFirst="true"
                       respondTo="window"
                       adaptiveHeight="true"
                       variableWidth="true">

        <div ng-repeat="serv in tres.slidesServicios">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0 cont-slider" style="background-image: url({{serv.image}});border-top-color:{{serv.tituloColor}};">
                <img src="{{serv.image}}" class="invisible" alt="">
                <a href="javascript:void(0);" class="animated btn-volver-detalle" ng-click="agiles = !agiles ; tres.showDots()" ng-class="agiles ? 'fadeIn' : 'fadeOut visible-hidden'">
                        <svg version="1.1" id="svg-volver" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 93.8 91.4" style="enable-background:new 0 0 93.8 91.4;" xml:space="preserve">
                        <path id="icono-grande" class="st0" d="M72.1,2c-10.4,0-18.7,8.4-18.7,18.8s8.4,18.8,18.7,18.8s18.8-8.4,18.8-18.8S82.5,2,72.1,2z
                             M83.3,28.8c-0.2,0-0.5-0.1-0.6-0.3c-4.6-5.3-11.3-4.1-11.3-4.1v3.7c0,0.4-0.3,0.7-0.7,0.7c-0.2,0-0.3-0.1-0.4-0.1l-9.5-7.1
                            c-0.5-0.4-0.6-1.1-0.2-1.6c0.1-0.1,0.1-0.2,0.2-0.2l9.5-7.1c0.3-0.2,0.8-0.2,1,0.1c0.1,0.1,0.2,0.3,0.2,0.5V17
                            c10.3,0,12.3,7.2,12.6,11C84,28.4,83.7,28.8,83.3,28.8z"/>
                        <g id="circulos-izquierda" style="fill:{{serv.tituloColor}};">
                            <circle class="st0" cx="45.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="35.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="25.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="15.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="5.8" cy="20.8" r="3.1"/>
                        </g>
                        <g id="circulos-abajo" style="fill:{{serv.tituloColor}};">
                            <circle class="st0" cx="72.1" cy="47.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="57.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="67.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="77.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="87.1" r="3.1"/>
                        </g>
                        </svg>
                    </a>
                <div class="description-container animated {{serv.tituloClase}}" ng-class="agiles ? 'fadeOutLeft visible-hidden' : 'fadeIn'">
                      <h2 class="uni-heavy" style="color:{{serv.tituloColor}};">
                        {{serv.titulo}}
                        </h2>
                        <p class="text-white uni-bold">{{serv.descripcion}}</p>
                        <button class="btn btn-it-base clear" style="border-color:{{serv.tituloColor}};" ng-click="agiles = !agiles ; tres.hideDots() " >{{serv.botonText}}</button>
                    </div>  
                
                  <div class="info-detalle animated text-center" ng-class="agiles ? 'fadeIn' : 'visible-hidden fadeInDown'" style="background-color: rgba({{serv.backgroundColor}},.6);">
                     <h2 class="uni-heavy">
                        {{serv.tituloDetalle}}
                    </h2>
                    <h4 class="text-white uni-bold">{{serv.textoDetalle}}</h4>
                </div>
            </div>
            <div class="detalle-servicio" ng-class="agiles ? 'fadeInDown' : 'hidden fadeInUp'">
                <div style="background:{{serv.tituloColor}};" class="col-xs-12 pl-0 pr-0 pt-25 pb-25">
                    <div class="col-xs-12 col-sm-6 pl-0 pr-0">
                        <h2 class="servicios__detalle__titulo col-xs-offset-1 col-xs-10 uni-heavy mt-0 mb-0">{{serv.seccion}}</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0 servicios__detalle">
                    <div class="servicios__detalle__cell col-xs-12 col-sm-6 pl-0 pr-0" ng-repeat="detalle in serv.detalles">
                        <div class="col-xs-offset-1 col-xs-10">
                        <h3 style="color: {{serv.tituloColor}};">{{detalle.titulo}}</h3>
                        <p>{{detalle.descripcion}}</p></div>
                    </div>
                </div>
            </div>
        </div> <!-- servicios -->

    
    </slick>

        </div>
    </div>
</div><!-- END SECCION SERVICIOS  -->

<!-- SECCION INNOVACION -->
<div class="container-fluid servicios innovacion" id="innovacion">
    <div class="row">
         <img src="./assets/images/3it-innovacion.svg" width="215" height="34" class="logo-3it-servicios">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padd-none">
            <slick dots="true"
                       infinite="false"
                       speed="300"
                       slides-to-show="1"
                       touch-move="true"
                       slides-to-scroll="1"
                       mobileFirst="true"
                       respondTo="window"
                       adaptiveHeight="true"
                       variableWidth="true">

        <div ng-repeat="serv in tres.slidesInnovacion">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0 cont-slider" style="background-image: url({{serv.image}});border-top-color:{{serv.tituloColor}};">
                <img src="{{serv.image}}" class="invisible" alt="">
                <a href="javascript:void(0);" class="animated btn-volver-detalle" ng-click="agiles = !agiles ; tres.showDots()" ng-class="agiles ? 'fadeIn' : 'fadeOut visible-hidden'">
                        <svg version="1.1" id="svg-volver" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 93.8 91.4" style="enable-background:new 0 0 93.8 91.4;" xml:space="preserve">
                        <path id="icono-grande" class="st0" d="M72.1,2c-10.4,0-18.7,8.4-18.7,18.8s8.4,18.8,18.7,18.8s18.8-8.4,18.8-18.8S82.5,2,72.1,2z
                             M83.3,28.8c-0.2,0-0.5-0.1-0.6-0.3c-4.6-5.3-11.3-4.1-11.3-4.1v3.7c0,0.4-0.3,0.7-0.7,0.7c-0.2,0-0.3-0.1-0.4-0.1l-9.5-7.1
                            c-0.5-0.4-0.6-1.1-0.2-1.6c0.1-0.1,0.1-0.2,0.2-0.2l9.5-7.1c0.3-0.2,0.8-0.2,1,0.1c0.1,0.1,0.2,0.3,0.2,0.5V17
                            c10.3,0,12.3,7.2,12.6,11C84,28.4,83.7,28.8,83.3,28.8z"/>
                        <g id="circulos-izquierda" style="fill:{{serv.tituloColor}};">
                            <circle class="st0" cx="45.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="35.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="25.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="15.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="5.8" cy="20.8" r="3.1"/>
                        </g>
                        <g id="circulos-abajo" style="fill:{{serv.tituloColor}};">
                            <circle class="st0" cx="72.1" cy="47.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="57.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="67.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="77.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="87.1" r="3.1"/>
                        </g>
                        </svg>
                    </a>
                <div class="description-container animated {{serv.tituloClase}}" ng-class="agiles ? 'fadeOut visible-hidden' : 'fadeIn'">
                      <h2 class="uni-heavy" style="color:{{serv.tituloColor}};">
                        {{serv.titulo}}
                        </h2>
                        <p class="text-white uni-bold">{{serv.descripcion}}</p>
                        <button class="btn btn-it-base clear" style="border-color:{{serv.tituloColor}};" ng-click="agiles = !agiles ; tres.hideDots() " >{{serv.botonText}}</button>
                    </div>  
                
                  <div class="info-detalle animated text-center" ng-class="agiles ? 'fadeIn' : 'visible-hidden fadeInDown'" style="background-color: rgba({{serv.backgroundColor}},.6);">
                     <h2 class="uni-heavy">
                        {{serv.tituloDetalle}}
                    </h2>
                    <h4 class="text-white uni-bold">{{serv.textoDetalle}}</h4>
                </div>
            </div>
            <div class="detalle-servicio" ng-class="agiles ? 'fadeInDown' : 'hidden fadeInUp'">
                <div style="background:{{serv.tituloColor}};" class="col-xs-12 pl-0 pr-0 pt-25 pb-25">
                    <div class="col-xs-12 col-sm-6 pl-0 pr-0">
                        <h2 class="servicios__detalle__titulo col-xs-offset-1 col-xs-10 uni-heavy mt-0 mb-0">{{serv.seccion}}</h2>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0 servicios__detalle">
                    <div class="servicios__detalle__cell col-xs-12 col-sm-6 pl-0 pr-0" ng-repeat="detalle in serv.detalles">
                        <div class="col-xs-offset-1 col-xs-10">
                        <h3 style="color: {{serv.tituloColor}};">{{detalle.titulo}}</h3>
                        <p>{{detalle.descripcion}}</p></div>
                    </div>
                </div>
            </div>
        </div> <!-- servicios -->

    
    </slick>

        </div>
    </div>
</div>
<!-- END SECCION INNOVACION -->

<!-- SECCION MARCAS -->

<div class="container-fluid seccion-marcas" id="clientes">
        <div class="row listado-marcas animated" ng-class="marcaDetalle ? 'fadeOut listado-inactivo' : 'listado-activo'">

            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 marca marca-bch" ng-click="marcaDetalle = !marcaDetalle ; slickConfig.method.slickGoTo(0)">
                <a href="">
                    <div class="bg1"></div>
                    <div class="bg2"></div>
                    <i class="i1">
                        <img src="../assets/images/marcas/logo-bch.png" class="logo-bch">
                    </i>
                    <i class="i2">
                        <img src="../assets/images/marcas/logo-bch.png" class="logo-bch">
                    </i>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 marca marca-udla" ng-click="marcaDetalle = !marcaDetalle ; slickConfig.method.slickGoTo(1)">
                <a href="">
                    <div class="bg1"></div>
                    <div class="bg2"></div>
                    <i class="i1">
                        <img src="../assets/images/marcas/logo-udla.png" class="logo-udla">
                    </i>
                    <i class="i2">
                        <img src="../assets/images/marcas/logo-udla.png" class="logo-udla">
                    </i>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 marca marca-intervalores" ng-click="marcaDetalle = !marcaDetalle ; slickConfig.method.slickGoTo(2)">
                <a href="">
                    <div class="bg1"></div>
                    <div class="bg2"></div>
                    <i class="i1">
                        <img src="../assets/images/marcas/logo-intervalores.png" class="logo-intervalores">
                    </i>
                    <i class="i2">
                        <img src="../assets/images/marcas/logo-intervalores.png" class="logo-intervalores">
                    </i>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 marca marca-aiep" ng-click="marcaDetalle = !marcaDetalle ; slickConfig.method.slickGoTo(3)">
                <a href="">
                    <div class="bg1"></div>
                    <div class="bg2"></div>
                    <i class="i1">
                        <img src="../assets/images/marcas/logo-aiep.png" class="logo-aiep">
                    </i>
                    <i class="i2">
                        <img src="../assets/images/marcas/logo-aiep.png" class="logo-aiep">
                    </i>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 marca marca-credichile" ng-click="marcaDetalle = !marcaDetalle ; slickConfig.method.slickGoTo(4)">
                <a href="">
                    <div class="bg1"></div>
                    <div class="bg2"></div>
                    <i class="i1">
                        <img src="../assets/images/marcas/logo-credichile.png" class="logo-credichile">
                    </i>
                    <i class="i2">
                        <img src="../assets/images/marcas/logo-credichile.png" class="logo-credichile">
                    </i>
                </a>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 marca marca-er" ng-click="marcaDetalle = !marcaDetalle ; slickConfig.method.slickGoTo(5)">
                <a href="">
                    <div class="bg1"></div>
                    <div class="bg2"></div>
                    <i class="i1">
                        <img src="../assets/images/marcas/logo-er.png" class="logo-er">
                    </i>
                    <i class="i2">
                        <img src="../assets/images/marcas/logo-er.png" class="logo-er">
                    </i>
                </a>
            </div>
        </div>

      

    <div class="row animated" ng-class="marcaDetalle ? 'fadeIn' : 'container-detalle-marca fadeOut'">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padd-none cont-slider"> 
            <slick dots="false"
                       infinite="false"
                       speed="300"
                       slides-to-show="1"
                       touch-move="false"
                       slides-to-scroll="1"
                       arrows="true"
                       settings="slickConfig"
                       fade="true">
                       
                <div ng-repeat="mark in tres.slidesMarcas">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slider-detalle pl-0 pr-0" style="background-image: url({{mark.fondoMarca}});border-top-color:{{mark.colorMarca}};">

                          <div class="description-container animated {{mark.tituloClase}}">
                                  <img src="{{mark.logoEmpresa}}" class="logo-empresa">
                                  <p class="uni-regular ng-binding mt-20 mb-0"><span class="uni-bold">Proyecto:</span> {{mark.proyecto}}</p>
                                  <p class="uni-regular mb-20"><span class="uni-bold">Año:</span> {{mark.year}}</p>
                                  <p><span class="uni-bold">Descripción:</span> {{mark.descripcion}}</p>
                              </div>
                           
                    </div>
                    
                </div>
               
            
            </slick>

             <span class="boton-cerrar" ng-click="marcaDetalle = !marcaDetalle" >
                    <i class="close"></i>
                </span>
        </div>
    </div>

  </div>
<!-- END SECCION MARCAS -->



<!-- SECCION BLOG-->
<div class="container-fluid blog" id="blog">
    <div class="row">
         <img src="./assets/images/3it-blog.svg" width="215" height="34" class="logo-3it-servicios">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padd-none">
            <slick dots="true"
                       infinite="false"
                       speed="300"
                       slides-to-show="1"
                       touch-move="true"
                       slides-to-scroll="1"
                       mobileFirst="true"
                       respondTo="window"
                       adaptiveHeight="true"
                       variableWidth="true">

        <div ng-repeat="blog in tres.contenidoBlog">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0 cont-slider" style="background-image: url({{blog.image}});"">
                <a href="javascript:void(0);" class="animated btn-volver-detalle" ng-click="agiles = !agiles ; tres.showDots()" ng-class="agiles ? 'fadeIn' : 'fadeOut visible-hidden'">
                        <svg version="1.1" id="svg-volver" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 93.8 91.4" style="enable-background:new 0 0 93.8 91.4;" xml:space="preserve">
                        <path id="icono-grande" class="st0" d="M72.1,2c-10.4,0-18.7,8.4-18.7,18.8s8.4,18.8,18.7,18.8s18.8-8.4,18.8-18.8S82.5,2,72.1,2z
                             M83.3,28.8c-0.2,0-0.5-0.1-0.6-0.3c-4.6-5.3-11.3-4.1-11.3-4.1v3.7c0,0.4-0.3,0.7-0.7,0.7c-0.2,0-0.3-0.1-0.4-0.1l-9.5-7.1
                            c-0.5-0.4-0.6-1.1-0.2-1.6c0.1-0.1,0.1-0.2,0.2-0.2l9.5-7.1c0.3-0.2,0.8-0.2,1,0.1c0.1,0.1,0.2,0.3,0.2,0.5V17
                            c10.3,0,12.3,7.2,12.6,11C84,28.4,83.7,28.8,83.3,28.8z"/>
                        <g id="circulos-izquierda" style="fill:{{blog.tituloColor}};">
                            <circle class="st0" cx="45.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="35.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="25.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="15.8" cy="20.8" r="3.1"/>
                            <circle class="st0" cx="5.8" cy="20.8" r="3.1"/>
                        </g>
                        <g id="circulos-abajo" style="fill:{{blog.tituloColor}};">
                            <circle class="st0" cx="72.1" cy="47.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="57.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="67.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="77.1" r="3.1"/>
                            <circle class="st0" cx="72.1" cy="87.1" r="3.1"/>
                        </g>
                        </svg>
                    </a>
                <div class="description-container animated {{blog.tituloClase}}" ng-class="agiles ? 'fadeOutLeft visible-hidden' : 'fadeIn'">
                      <h2 class="uni-heavy" >
                        {{blog.titulo}}
                        </h2>
                        <p class="text-white uni-bold">{{blog.descripcion}}</p>
                        <button class="btn btn-it-base clear">{{blog.botonText}}</button>
                    </div>  
                
                  <div class="info-detalle animated text-center" ng-class="agiles ? 'fadeIn' : 'visible-hidden fadeInDown'" style="background-color:{{blog.tituloColor}};">
                     <h2 class="uni-heavy">
                        {{blog.tituloDetalle}}
                    </h2>
                    <h4 class="text-white uni-bold">{{blog.textoDetalle}}</h4>
                </div>
            </div>
            
        </div>

    
    </slick>

        </div>
    </div>
</div><!-- END SECCION BLOG  -->


