<div class="col-xs-12 padd-none">
    <section class="view-contacto flex relative" id="contacto">
        <div class="col-lg-8 col-sm-7 col-xs-12 padd-none wrap-step">
            <ul class="steps" ng-hide="step4 == true">
                <li ng-class='{activo: !step1, inactivo: step1}'>1</li>
                <li ng-class='{activo: step2}'>2</li>
                <li ng-class='{activo: step3}'>3</li>
            </ul>
        </div>
        <div ng-parallax pattern="'./assets/images/contacto-background.jpg'" class="col-lg-8 col-sm-7 col-xs-12 flex relative backgorund-logo">
            <div class="col-xs-12 vertical-align" ng-hide="step2||step3||step4">
                <div class="w-50">
                    <h2 class="text-center">¡Únete a nuestro equipo!</h2>
                    <form action="">
                        <div class="row mr-0 ml-0">
                            <ul class="link-list">
                                <li>
                                    <input type="radio" id="proyecto" name="mensaje" ng-model="proyecto" />
                                    <label for="proyecto">Cuéntanos tu proyecto</label>
                                </li>
                                <li>
                                    <input type="radio" id="trabajo" name="mensaje" ng-model="trabajo" />
                                    <label for="trabajo">Trabaja con nosotros</label>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 text-center mt-100">
                            <button type="button" ng-click="step1=true;step2=true" class="btn-transparent">SIGUIENTE</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 vertical-align" ng-show="step2">
                <div class="w-50">
                    <h2 class="mb-40 text-center">Completa tus datos:</h2>
                    <form class="form-text">
                        <div class="group">
                            <input type="text" required ng-model="tresContacto.nombre">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Nombre</label>
                        </div>
                        <div class="group">
                            <input type="text" required ng-model="tresContacto.email">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>E-mail</label>
                        </div>
                        <div class="group">
                            <input type="text" required ng-model="tresContacto.telefono">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Teléfono</label>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button type="button" ng-click="step1=true;step2=false;step3=true" class="btn-transparent">SIGUIENTE</button>
                            <br>
                            <button class="btn-reload mt-20" ng-click="step1=true;step2=false">
                                <i class="custom-icon icon-reload"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 vertical-align" ng-show="step3">
                <div class="w-50">
                    <h2 class="mb-40 text-center">¿Qué tienes en mente?</h2>
                    <form class="form-text">
                        <div class="group">
                            <div class="styled-select" ng-click="uploadClick=true">
                                <select name="" id="" ng-model="tresContacto.servicio">>
                                    <option value="" selected="" disabled="true"> </option>
                                    <option value="">Servicio 1</option>
                                    <option value="">Servicio 2</option>
                                    <option value="">Servicio 3</option>
                                </select>
                            </div>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label ng-class="{activeLabel : uploadClick}">Selecciona un servicio</label>
                        </div>
                        <div class="group">
                            <input type="text" required ng-model="tresContacto.descripcion">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Descríbenos tu proyecto</label>
                        </div>
                        <div class="group">
                            <div class="btn-upload" ng-click="uploadClick=true" upload-button url="/upload" param="file" data="formData" accept="{{acceptTypes}}" multiple="{{allowMultiple}}" force-iframe-upload="{{forceIframeUpload}}" required="true|false" on-upload="onUpload(files)" on-success="onSuccess(response)" on-error="onError(response)"  on-complete="onComplete(response)">
                                <i class="fa fa-paperclip fa-2x text-white"></i>
                            </div>
                            <input type="text" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label ng-class="{activeLabel : uploadClick}">Deseas adjuntar un documento</label>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button type="button" ng-click="tresContacto.onSendMail();step1=false;step2=false;step3=false;step4=true" class="btn-transparent">SIGUIENTE</button>
                            <br>
                            <button class="btn-reload mt-20" ng-click="step1=true;step2=false">
                                <i class="custom-icon icon-reload"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 text-center text-white vertical-align" ng-show="step4">
                <div class="w-50">
                    <i class="custom-icon icon-checkmail fa-4x"></i>
                    <h3>¡Gracias por ponerte en contacto con nosotros! Tus datos han sido recepcionados con éxito y muy pronto te contactáremos.</h3>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-sm-5 col-xs-12 padd-none">
            <div class="mapa">
                <ng-map zoom="15" center="[-33.4414727,-70.6528376]" styles="[{stylers:[{hue: '#628b99'},{visibility:'simplified'},{gamma:1},{weight:1}]},{elementType:'labels',stylers:[{visibility:'on'}]},{featureType:'water',stylers:[{color:'#628b99'}]}]">
                    <custom-marker id="can" position="[-33.4414727,-70.6528376]" on-click="click()" style="text-align; center;">
                        <img src="./assets/images/map-marker-icon.png" alt="" height="35" width="35">
                        <h4 class="mb-0 mt-0 text-center">3IT</h4>
                    </custom-marker>
                </ng-map>
            </div>
            <div class="datos-contacto">
                <ul class="contact-list">
                    <li>
                        <i class="custom-icon icon-edificio"></i>
                        <a href="">Ahumada 131. <br>
                            Oficinas 801, 803, 822, 823. <br>
                            Santiago, Chile.</a>
                    </li>
                    <li>
                        <i class="custom-icon icon-phone"></i>
                        <a href="tel:+56942967365">9 4296 7365</a>
                    </li>
                    <li>
                        <i class="custom-icon icon-mail"></i>
                        <a href="mailto:help@3it.cl">help@3it.cl</a>
                    </li>
                    <li>
                        <i class="icon ion-ios-briefcase-outline"></i>
                        <a href="#">Ofertas Laborales</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>