<!-- SECCION BLOG-->
<div class="container-fluid blog" id="blog">
    <div class="row">
        <img src="./assets/images/3it-blog.svg" width="215" height="34" class="logo-3it-servicios">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padd-none">
            <slick dots="true" infinite="false" speed="300" slides-to-show="1" touch-move="true" slides-to-scroll="1" mobileFirst="true"
                respondTo="window" adaptiveHeight="true" variableWidth="true">

                <div ng-repeat="blog in tresBlog.contenidoBlog">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pl-0 pr-0 cont-slider" style="background-image: url({{blog.image}});" ">
                <a href="javascript:void(0); " class="animated btn-volver-detalle " ng-click="agiles=! agiles ; tresBlog.showDots()
                        " ng-class="agiles ? 'fadeIn' : 'fadeOut visible-hidden' ">
                        <svg version="1.1 " id="svg-volver " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink
                        " x="0px " y="0px "
                             viewBox="0 0 93.8 91.4 " style="enable-background:new 0 0 93.8 91.4; " xml:space="preserve ">
                        <path id="icono-grande " class="st0 " d="M72.1,2c-10.4,0-18.7,8.4-18.7,18.8s8.4,18.8,18.7,18.8s18.8-8.4,18.8-18.8S82.5,2,72.1,2z
                        M83.3,28.8c-0.2,0-0.5-0.1-0.6-0.3c-4.6-5.3-11.3-4.1-11.3-4.1v3.7c0,0.4-0.3,0.7-0.7,0.7c-0.2,0-0.3-0.1-0.4-0.1l-9.5-7.1
                        c-0.5-0.4-0.6-1.1-0.2-1.6c0.1-0.1,0.1-0.2,0.2-0.2l9.5-7.1c0.3-0.2,0.8-0.2,1,0.1c0.1,0.1,0.2,0.3,0.2,0.5V17
                        c10.3,0,12.3,7.2,12.6,11C84,28.4,83.7,28.8,83.3,28.8z "/>
                        <g id="circulos-izquierda " style="fill:{{blog.tituloColor}}; ">
                            <circle class="st0 " cx="45.8 " cy="20.8 " r="3.1 "/>
                            <circle class="st0 " cx="35.8 " cy="20.8 " r="3.1 "/>
                            <circle class="st0 " cx="25.8 " cy="20.8 " r="3.1 "/>
                            <circle class="st0 " cx="15.8 " cy="20.8 " r="3.1 "/>
                            <circle class="st0 " cx="5.8 " cy="20.8 " r="3.1 "/>
                        </g>
                        <g id="circulos-abajo " style="fill:{{blog.tituloColor}}; ">
                            <circle class="st0 " cx="72.1 " cy="47.1 " r="3.1 "/>
                            <circle class="st0 " cx="72.1 " cy="57.1 " r="3.1 "/>
                            <circle class="st0 " cx="72.1 " cy="67.1 " r="3.1 "/>
                            <circle class="st0 " cx="72.1 " cy="77.1 " r="3.1 "/>
                            <circle class="st0 " cx="72.1 " cy="87.1 " r="3.1 "/>
                        </g>
                        </svg>
                    </a>
                <div class="description-container animated {{blog.tituloClase}} " ng-class="agiles ?
                        'fadeOutLeft visible-hidden' : 'fadeIn' ">
                      <h2 class="uni-heavy " >
                        {{blog.titulo}}
                        </h2>
                        <p class="text-white uni-bold ">{{blog.descripcion}}</p>
                        <button class="btn btn-it-base clear ">{{blog.botonText}}</button>
                    </div>  
                
                  <div class="info-detalle animated text-center " ng-class="agiles ? 'fadeIn' :
                        'visible-hidden fadeInDown' " style="background-color:{{blog.tituloColor}}; ">
                     <h2 class="uni-heavy ">
                        {{blog.tituloDetalle}}
                    </h2>
                    <h4 class="text-white uni-bold ">{{blog.textoDetalle}}</h4>
                </div>
            </div>
            Z
        </div>

    
    </slick>

        </div>
    </div>
</div>

<!-- END SECCION BLOG  -->