@font-face
    font-family 'Uni Neue Bold Italic'
    src url('../assets/fonts/UniNeueBold-Italic.eot')
    src local('Uni Neue Bold Italic'), local('UniNeueBold-Italic'),
        url('../assets/fonts/UniNeueBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueBold-Italic.woff2') format('woff2'),
        url('../assets/fonts/UniNeueBold-Italic.woff') format('woff'),
        url('../assets/fonts/UniNeueBold-Italic.ttf') format('truetype'),
        url('../assets/fonts/UniNeueBold-Italic.svg#UniNeueBold-Italic') format('svg')
    font-weight bold
    font-style italic

@font-face
    font-family 'Uni Neue Light'
    src url('../assets/fonts/UniNeueLight.eot')
    src local('Uni Neue Light'), local('UniNeueLight'),
        url('../assets/fonts/UniNeueLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueLight.woff2') format('woff2'),
        url('../assets/fonts/UniNeueLight.woff') format('woff'),
        url('../assets/fonts/UniNeueLight.ttf') format('truetype'),
        url('../assets/fonts/UniNeueLight.svg#UniNeueLight') format('svg')
    font-weight 300
    font-style normal

@font-face
    font-family 'Uni Neue Book'
    src url('../assets/fonts/UniNeueBook.eot')
    src local('Uni Neue Book'), local('UniNeueBook'),
        url('../assets/fonts/UniNeueBook.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueBook.woff2') format('woff2'),
        url('../assets/fonts/UniNeueBook.woff') format('woff'),
        url('../assets/fonts/UniNeueBook.ttf') format('truetype'),
        url('../assets/fonts/UniNeueBook.svg#UniNeueBook') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'Uni Neue Heavy'
    src url('../assets/fonts/UniNeueHeavy.eot')
    src local('Uni Neue Heavy'), local('UniNeueHeavy'),
        url('../assets/fonts/UniNeueHeavy.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueHeavy.woff2') format('woff2'),
        url('../assets/fonts/UniNeueHeavy.woff') format('woff'),
        url('../assets/fonts/UniNeueHeavy.ttf') format('truetype'),
        url('../assets/fonts/UniNeueHeavy.svg#UniNeueHeavy') format('svg')
    font-weight 800
    font-style normal

@font-face
    font-family 'Uni Neue Heavy Italic'
    src url('../assets/fonts/UniNeueHeavy-Italic.eot')
    src local('Uni Neue Heavy Italic'), local('UniNeueHeavy-Italic'),
        url('../assets/fonts/UniNeueHeavy-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueHeavy-Italic.woff2') format('woff2'),
        url('../assets/fonts/UniNeueHeavy-Italic.woff') format('woff'),
        url('../assets/fonts/UniNeueHeavy-Italic.ttf') format('truetype'),
        url('../assets/fonts/UniNeueHeavy-Italic.svg#UniNeueHeavy-Italic') format('svg')
    font-weight 800
    font-style italic

@font-face
    font-family 'Uni Neue Black Italic'
    src url('../assets/fonts/UniNeueBlack-Italic.eot')
    src local('Uni Neue Black Italic'), local('UniNeueBlack-Italic'),
        url('../assets/fonts/UniNeueBlack-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueBlack-Italic.woff2') format('woff2'),
        url('../assets/fonts/UniNeueBlack-Italic.woff') format('woff'),
        url('../assets/fonts/UniNeueBlack-Italic.ttf') format('truetype'),
        url('../assets/fonts/UniNeueBlack-Italic.svg#UniNeueBlack-Italic') format('svg')
    font-weight 900
    font-style italic

@font-face
    font-family 'Uni Neue Bold'
    src url('../assets/fonts/UniNeueBold.eot')
    src local('Uni Neue Bold'), local('UniNeueBold'),
        url('../assets/fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueBold.woff2') format('woff2'),
        url('../assets/fonts/UniNeueBold.woff') format('woff'),
        url('../assets/fonts/UniNeueBold.ttf') format('truetype'),
        url('../assets/fonts/UniNeueBold.svg#UniNeueBold') format('svg')
    font-weight bold
    font-style normal

@font-face
    font-family 'Uni Neue Thin Italic'
    src url('../assets/fonts/UniNeueThin-Italic.eot')
    src local('Uni Neue Thin Italic'), local('UniNeueThin-Italic'),
        url('../assets/fonts/UniNeueThin-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueThin-Italic.woff2') format('woff2'),
        url('../assets/fonts/UniNeueThin-Italic.woff') format('woff'),
        url('../assets/fonts/UniNeueThin-Italic.ttf') format('truetype'),
        url('../assets/fonts/UniNeueThin-Italic.svg#UniNeueThin-Italic') format('svg')
    font-weight 100
    font-style italic

@font-face
    font-family 'Uni Neue Black'
    src url('../assets/fonts/UniNeueBlack.eot')
    src local('Uni Neue Black'), local('UniNeueBlack'),
        url('../assets/fonts/UniNeueBlack.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueBlack.woff2') format('woff2'),
        url('../assets/fonts/UniNeueBlack.woff') format('woff'),
        url('../assets/fonts/UniNeueBlack.ttf') format('truetype'),
        url('../assets/fonts/UniNeueBlack.svg#UniNeueBlack') format('svg')
    font-weight 900
    font-style normal

@font-face
    font-family 'Uni Neue Light Italic'
    src url('../assets/fonts/UniNeueLight-Italic.eot')
    src local('Uni Neue Light Italic'), local('UniNeueLight-Italic'),
        url('../assets/fonts/UniNeueLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueLight-Italic.woff2') format('woff2'),
        url('../assets/fonts/UniNeueLight-Italic.woff') format('woff'),
        url('../assets/fonts/UniNeueLight-Italic.ttf') format('truetype'),
        url('../assets/fonts/UniNeueLight-Italic.svg#UniNeueLight-Italic') format('svg')
    font-weight 300
    font-style italic

@font-face
    font-family 'Uni Neue Book Book Italic'
    src url('../assets/fonts/UniNeueBook-Italic.eot')
    src local('Uni Neue Book Italic'), local('UniNeueBook-Italic'),
        url('../assets/fonts/UniNeueBook-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueBook-Italic.woff2') format('woff2'),
        url('../assets/fonts/UniNeueBook-Italic.woff') format('woff'),
        url('../assets/fonts/UniNeueBook-Italic.ttf') format('truetype'),
        url('../assets/fonts/UniNeueBook-Italic.svg#UniNeueBook-Italic') format('svg')
    font-weight normal
    font-style italic

@font-face
    font-family 'Uni Neue Regular'
    src url('../assets/fonts/UniNeueRegular.eot')
    src local('Uni Neue Regular'), local('UniNeueRegular'),
        url('../assets/fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueRegular.woff2') format('woff2'),
        url('../assets/fonts/UniNeueRegular.woff') format('woff'),
        url('../assets/fonts/UniNeueRegular.ttf') format('truetype'),
        url('../assets/fonts/UniNeueRegular.svg#UniNeueRegular') format('svg')
    font-weight 500
    font-style normal

@font-face
    font-family 'Uni Neue Thin'
    src url('../assets/fonts/UniNeueThin.eot')
    src local('Uni Neue Thin'), local('UniNeueThin'),
        url('../assets/fonts/UniNeueThin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueThin.woff2') format('woff2'),
        url('../assets/fonts/UniNeueThin.woff') format('woff'),
        url('../assets/fonts/UniNeueThin.ttf') format('truetype'),
        url('../assets/fonts/UniNeueThin.svg#UniNeueThin') format('svg')
    font-weight 100
    font-style normal

@font-face
    font-family 'Uni Neue Regular Italic'
    src url('../assets/fonts/UniNeueRegular-Italic.eot')
    src local('Uni Neue Regular Italic'), local('UniNeueRegular-Italic'),
        url('../assets/fonts/UniNeueRegular-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/UniNeueRegular-Italic.woff2') format('woff2'),
        url('../assets/fonts/UniNeueRegular-Italic.woff') format('woff'),
        url('../assets/fonts/UniNeueRegular-Italic.ttf') format('truetype'),
        url('../assets/fonts/UniNeueRegular-Italic.svg#UniNeueRegular-Italic') format('svg')
    font-weight 500
    font-style italic