@import 'nib'

.pt-0
	padding-top 0 !important

.pt-5
	padding-top 5px !important

.pt-10
	padding-top 10px !important

.pt-15
	padding-top 15px !important

.pt-20
	padding-top 20px !important

.pt-25
	padding-top 25px !important

.pt-30
	padding-top 30px !important

.pr-0
	padding-right 0 !important

.pr-5
	padding-right 5px !important

.pr-10
	padding-right 10px !important

.pr-15
	padding-right 15px !important

.pr-20
	padding-right 20px !important

.pr-25
	padding-right 25px !important

.pr-30
	padding-right 30px !important

.pb-0
	padding-bottom 0 !important

.pb-5
	padding-bottom 5px !important

.pb-10
	padding-bottom 10px !important

.pb-15
	padding-bottom 15px !important

.pb-20
	padding-bottom 20px !important

.pb-25
	padding-bottom 25px !important

.pb-30
	padding-bottom 30px !important

.pl-0
	padding-left 0 !important

.pl-5
	padding-left 5px !important

.pl-10
	padding-left 10px !important

.pl-15
	padding-left 15px !important

.pl-20
	padding-left 20px !important

.pl-25
	padding-left 25px !important

.pl-30
	padding-left 30px !important

.padd-none,
.remove-padding
	padding 0 !important

.mt-0
	margin-top 0 !important

.mt-5
	margin-top 5px !important

.mt-10
	margin-top 10px !important

.mt-15
	margin-top 15px !important

.mt-20
	margin-top 20px !important

.mt-25
	margin-top 25px !important

.mt-30
	margin-top 30px !important

.mr-0
	margin-right 0 !important

.mr-5
	margin-right 5px !important

.mr-10
	margin-right 10px !important

.mr-15
	margin-right 15px !important

.mr-20
	margin-right 20px !important

.mr-25
	margin-right 25px !important

.mr-30
	margin-right 30px !important

.mb-0
	margin-bottom 0 !important

.mb-5
	margin-bottom 5px !important

.mb-10
	margin-bottom 10px !important

.mb-15
	margin-bottom 15px !important

.mb-20
	margin-bottom 20px !important

.mb-25
	margin-bottom 25px !important

.mb-30
	margin-bottom 30px !important

.ml-0
	margin-left 0 !important

.ml-5
	margin-left 5px !important

.ml-10
	margin-left 10px !important

.ml-15
	margin-left 15px !important

.ml-20
	margin-left 20px !important

.ml-25
	margin-left 25px !important

.ml-30
	margin-left 30px !important


.seccion-marcas
	position relative
	min-height 585px

.listado-marcas
	.marca
		padding-left 0!important
		padding-right 0!important
		a
			display block
			height 290px
			overflow hidden
			position relative
			-webkit-tap-highlight-color #fe6159cc
			text-decoration none
			-webkit-transition .15s
			-moz-transition .15s
			-o-transition .15s
			transition .15s
			.bg1
				background no-repeat center center
				background-size cover
				-webkit-transform scale(1.1)
				-moz-transform scale(1.1)
				-o-transform scale(1.1)
				-ms-transform scale(1.1)
				transform scale(1.1)
			&:hover
				.bg1
					-webkit-transform scale(1)
					-moz-transform scale(1)
					-o-transform scale(1)
					-ms-transform scale(1)
					transform scale(1)
				.bg2
					opacity .8
				.i1
					opacity 0
					-webkit-transform translateY(100%)
					-moz-transform translateY(100%)
					-o-transform translateY(100%)
					-ms-transform translateY(100%)
					transform translateY(100%)
				.i2
					opacity 1
					-webkit-transform translateY(0)
					-moz-transform translateY(0)
					-o-transform translateY(0)
					-ms-transform translateY(0)
					transform translateY(0)
			.bg2
				opacity 0
				background-image linear-gradient(to bottom,#3097a8 0,#00748b 100%)
		&.marca-bch
			a
				.bg1
					background-image url(images/marcas/bg-banco-chile.jpg)
				.logo-bch
					width 260px
		&.marca-udla
			a
				.bg1
					background-image url(images/marcas/bg-udla.jpg)
				.logo-udla
					width 190px
		&.marca-intervalores
			a
				.bg1
					background-image url(images/marcas/bg-intervalores.jpg)
				.logo-intervalores
					width 330px
		&.marca-aiep
			a
				.bg1
					background-image url(images/marcas/bg-aiep.jpg)
				.logo-aiep
					width 190px
		&.marca-credichile
			a
				.bg1
					background-image url(images/marcas/bg-credichile.jpg)
				.logo-credichile
					width 298px
		&.marca-er
			a
				.bg1
					background-image url(images/marcas/bg-er.jpg)
				.logo-er
					width 130px
		.i2
			opacity 0
			-webkit-transform translateY(-100%)
			-moz-transform translateY(-100%)
			-o-transform translateY(-100%)
			-ms-transform translateY(-100%)
			transform translateY(-100%)

.listado-marcas .marca a .bg1,
.listado-marcas .marca a .bg2,
.listado-marcas .marca  .i1, 
.listado-marcas .marca .i2
	display block
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	-webkit-transition .35s
	-moz-transition .35s
	-o-transition .35s
	transition .35s

.listado-marcas .marca  .i1, .listado-marcas .marca .i2
	height auto
	bottom 0

.listado-marcas .marca .i1 img, 
.listado-marcas .marca .i1 svg, 
.listado-marcas .marca .i2 img, 
.listado-marcas .marca .i2 svg
	margin auto
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	fill #fff
	-webkit-transition fill .15s
	-moz-transition fill .15s
	-o-transition fill .15s
	transition fill .15s
	max-width 50%
	max-height 40%

.detalle-marcas
	background-color #000
	position absolute
	height 100%
	width 100%
	.header-acciones
		height 55px
		width 100%
		display block
	.credichile
		background-color #2e63aa