//// COLORS ///////
$blanco  = #ffffff
$negro   = #000000
$celeste = #74c9d2



///// FONTS ///////
$uniBold      = 'Uni Neue Bold'
$uniBoldI     = 'Uni Neue Bold Italic'
$uniLight     = 'Uni Neue Light'
$uniLightI    = 'Uni Neue Light Italic'
$uniBook      = 'Uni Neue Book'
$uniBookI     = 'Uni Neue Book Book Italic'
$uniHeavy     = 'Uni Neue Heavy'
$uniHeavyI    = 'Uni Neue Heavy Italic'
$uniBlack     = 'Uni Neue Black'
$uniBlackI    = 'Uni Neue Black Italic'
$uniThin      = 'Uni Neue Thin'
$uniThinI     = 'Uni Neue Thin Italic'
$uniRegular   = 'Uni Neue Regular'
$uniRegularI  = 'Uni Neue Regular Italic'