<!DOCTYPE html>
<html ng-app="WebBancoChile" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <script src="https://use.fontawesome.com/8148ad1772.js"></script>

</head>
<!--[if IE 9]><body class="ie9"><![endif]-->
<!--[if !IE9]><!--><body> <!--<![endif]-->
	<div ui-view="header"></div>
	<div ui-view="main"></div>
	<div ui-view="footer"></div>
</body>
</html>
