<footer class="footer-empresa hidden-print">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <h3>Banco Chile</h3>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <ul class="list-unstyled">
                    <li>Casa Matriz: Ahumada 251, Santiago de Chile </li>
                    <li>Mesa Central: +56 2 265 311 11</li>
                    <li> <a href="http://ww3.bancochile.cl/wps/wcm/connect/personas/portal/seguridad/consejos-de-seguridad" target="_blank"> Políticas de Privacidad y Seguridad </a> </li>
                    <li><a href="assets/documentos/Codigo-de-Conducta-y-Buenas-Practicas-de-Bancos-e-Instituciones-Financieras.pdf" target="_blank"> Código de Conducta y Buenas Prácticas de Bancos e Instituciones Financieras </a></li>
                    <li><a href="assets/documentos/Guia-del-Cliente-Bancario-SBIF.pdf" target="_blank"> Guía del Cliente Bancario SBIF </a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
                <ul class="list-unstyled">
                    <li><strong>Horarios de Atención:</strong></li>
                    <li><strong>Lunes a Viernes de 8:00 a 19:15 hrs</strong></li>
                    <li><span class="dot">*</span> <p> Para consulta de Pago de Impuestos, los dias 12 y 20 de cada mes el horario de atención se extiende hasta las 24 horas.</p></li>
                </ul>
            </div>
        </div>
    </div>
</footer>